{% include 'blog/head.html' %}
{% include 'blog/navbar.html' %}
<section class = "mountain">
  <div class = "container header">
    <div class = "row">
      <div class = "col-md-6 p-5 text-white">
        <h1><br><br><br> Inova/LAB</h1>
        <p class = "flow-text">Conheça os produtos e serviços do Uninta EAD</p>
        <button class = "btn bg-white btn-lg"><i class = "fa fa-user-circle"></i> Conhecer</button>
      </div>
      <div class = "col-md-6 p-5">
        <!-- Another SVG Image  -->
        <div class = "card shadow-sm">
          <div class = "card-header">Lucas</div>
          <div class = "card-body">
            <p class  = "">Deploy de aplicações em segundos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Another section-->
<section>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12 p-5 mb-3">
        <h3>Aquele algo a mais...</h3>
        <br>
        <p>Tecnolocias suportadas no momento da escrita desta página:</p>
        <table class = "table table-hover">
          <thead class = "">
            <tr>
              <th>Status</th>
              <th class = "flow-green"># Componente</th>
              <th class = "flow-green">Versão</th>
              <th class = "flow-green">Suporte</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class = "fa fa-check"></i></td>
              <td>Linux</td>
              <td>Ubuntu</td>
              <td>LTS</td>
            </tr>
            <tr>
              <td><i class = "fa fa-check"></i></td>
              <td>Apache 2</td>
              <td>1.2</td>
              <td>--</td>
            </tr>
            <tr>
              <td><i class = "fa fa-check"></i></td>
              <td>PHP</td>
              <td>7.2</td>
              <td>--</td>
            </tr>
            <tr>
              <td><i class = "fa fa-check"></i></td>
              <td>MariaDB</td>
              <td>5.3.3</td>
              <td>--</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!---->
<section class  ="bg-dark text-white p-3 mb-3">
  <div class = "container">
    <h3>Entre em contato</h3>
    <p>This is the official tour</p>
    <div class  = "row">
      <div class = "col-md-3">
        <h1>8+</h1>
        <p>Produtos</p>
      </div>

      <div class = "col-md-3">
        <h1>10000</h1>
        <p>Parcicipantes</p>
      </div>

      <div class = "col-md-3">
        <h1>6</h1>
        <p>Workshops</p>
      </div>

      <div class = "col-md-3">
        <h1>1</h1>
        <p>Q/S Expert</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <center>
          <h2 class = ""><b>Conheça nossos planos</b></h2>
          <br>
          <p>Mantemos o serviço escalável por meio de otimizações constantes em um sistema mantido por GIT + Docker +  Kubernets</p>
          <br><br>
        </center>
      </div>
      <div class = "col-md-6">
        <div class = "card  shadow-sm">
          <div class = "card-header">Planos</div>
          <div class = "card-body">
            <p>Assinatura Mensal</p>
            <h3 class = "text-warning">R$79,90</h3>
            <p>Cursos</p>
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "card  shadow-sm">
          <div class = "card-header">Planos</div>
          <div class = "card-body">
            <p>Assinatura Anual</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Another section-->
<section>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <center>
          <h2 class = ""><b>Infraestrutura diferenciada</b></h2>
          <br>
          <p>Mantemos o serviço escalável por meio de otimizações constantes em um sistema mantido por GIT + Docker +  Kubernets</p>
          <br><br>
        </center>
      </div>
      <div class  ="col-md-6 p-5 mb-3">
        <ul class = "list-group">
          <li class = "list-group-item"># PHP + Node JS</li>
          <li class = "list-group-item"># Item</li>
          <li class = "list-group-item"># Item</li>
          <li class = "list-group-item"># Item</li>
        </ul>
      </div>
      <div class = "col-md-6">
        <div class = "row">
          
          <div class = "col-md-6 p-2 mb-3">
            <h3>Linux Based</h3>
            <br>  
            <i class = "fab fa-3x fa-ubuntu flow-green"></i>        
            <br><br>
            <p>Lorem ipsum doesn't fit in here, but should. Very interesting concepts</p>
          </div>

          <div class = "col-md-6 p-2 mb-3">
            <h3>Escalável</h3>
            <br>
            <i class = "fab fa-3x fa-docker flow-green"></i>        
            <br><br>
            <p>Lorem ipsum doesn't fit in here, but should. Very interesting concepts</p>
          </div>
          
          <div class = "col-md-12 p-2 mb-3">
            <h3>Controle de versão</h3>
            <br>
            <i class = "fa fa-3x fa-code-branch flow-green"></i>        
            <br><br>
            <p>Lorem ipsum doesn't fit in here, but should. Very interesting concepts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---->
<section class = "spawner">
  <div class ="container-fluid">
    <div class = "row">
    <div class = "col-md-3 mb-3 p-2">
        <ul style = "list-style:none">
          <li><h2>Siga-nos</h2></li>
          <li> <i class = "fab fa-2x fa-instagram mb-3"></i> <i class = "fab fa-2x fa-facebook mb-3"></i> <i class = "fab fa-2x fa-twitter-square mb-3"></i></li>
        </ul>
      </div>
      <div class = "col-md-3 mb-3 p-2">
        <ul style = "list-style:none">
          <li><h2>Companhia</h2></li>
          <li>Sobre</li>
          <li>Blog</li>
          <li>Carreiras</li>
          <li>Rede de parceiros</li>
          <li>Eventos</li>
          <li>Imprensa</li>
        </ul>
      </div>
      <!---->
      <div class = "col-md-3 mb-3 p-2">
        <ul style = "list-style:none">
          <li><h2>Produtos</h2></li>
          <li>Sobre</li>
          <li>Blog</li>
          <li>Carreiras</li>
          <li>Rede de parceiros</li>
          <li>Eventos</li>
          <li>Imprensa</li>
        </ul>
      </div>
      <!-- -->
      <div class = "col-md-3 mb-3 p-2">
        <ul style = "list-style:none">
          <li><h2>Suporte</h2></li>
          <li>FAQ</li>
          <li>Contato do suporte</li>
          <li>Upcoming</li>
        </ul>
      </div>
      <!-- -->
    </div>
  </div>
</section>

<section class = "bg-dark text-white p-2">
  <br>
  <center>
    <small>UNINTA 2019. Todos os direitos reservados.</small>
  </center>
</section>
